.pad-20{
    padding: 20px;
}
.padtop-20{
    padding-top: 20px;
}
.mar-20{
    margin: 20px;
}
.bg-eee{
    background-color: #eee;
}
.bg-white{
    background-color: white;
}
.bord-rad{
    border-radius: 6px;
}
